
/* css */

/* Colors */
/*
Mossy green: #93a280
Off-white (text): #dee0d2
Teal: #016a75
Ochre: #7c5800
Magenta: #831133
Forest green: #003601
Red: #720000
*/

* {
  font-family: Helvetica, sans-serif;
}

.container {
  margin-top: 150px;
  margin-bottom: 150px;
}

.container .external {
  color: black;
  text-align: center;
}

.container .poster {
  width: 1120px;
  height: 1575px;
  align-content: center;
  background-color: #93a280;
  color: #dee0d2;
}

#triangle-teal {
	width: 0;
	height: 0;
  position: absolute;
  top: 938px;
	border-left: 560px solid transparent;
	border-right: 560px solid transparent;
	border-top: 560px solid #016a75;
  z-index: 199;
}

#triangle-ochre {
  width: 0;
	height: 0;
  position: absolute;
  top: 1218px;
	border-left: 560px solid transparent;
	border-right: 560px solid transparent;
	border-top: 560px solid #7c5800;
  z-index: 199;
}

#triangle-magenta {
  width: 0;
	height: 0;
  position: absolute;
  top: 1498px;
	border-left: 560px solid transparent;
	border-right: 560px solid transparent;
	border-top: 560px solid #831133;
  z-index: 199;
}

#triangle-green {
  width: 0;
	height: 0;
  position: relative;
  top: 146px;
  left: 280px;
	border-left: 280px solid transparent;
	border-right: 280px solid transparent;
	border-top: 280px solid #003601;
  z-index: 200;
}

#triangle-red {
  width: 0;
	height: 0;
  position: relative;
  top: 146px;
  left: 280px;
	border-left: 280px solid transparent;
	border-right: 280px solid transparent;
	border-top: 280px solid #720000;
  z-index: 200;
}

#text-fishbone p {
  font-weight: bold;
  font-size: 140px;
  position: relative;
  top: -100px;
  left: 40px;
}

#text-small p {
  font-size: 22px;
  line-height: .9;
  position: relative;
  left: 875px;
  top: 70px;
}
