
/* css */

/* Colors */
/*
Mossy green: #93a280
Off-white (text): #dee0d2
Teal: #016a75
Ochre: #7c5800
Magenta: #831133
Forest green: #003601
Red: #720000
*/

* {
  font-family: Helvetica, sans-serif;
}

.container {
  margin-top: 150px;
  margin-bottom: 150px;
}

.container .external {
  color: black;
  text-align: center;
}

.container .poster {
  width: 1120px;
  height: 1575px;
  align-content: center;
  background-color: #93a280;
  color: #dee0d2;
}
